header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(202, 126, 20);
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}